@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: bisque;
    color: midnightblue;
    line-height: 1.5;
    font-size: 1rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    letter-spacing: 0.1rem;
    text-transform: capitalize;
    line-height: 1.25;
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 1.5rem;
}

nav {
    background-color: ivory;
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: rgb(22, 11, 3);
}

.nav-center {
    width: 90vw;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link {
    display: flex;
}

nav a {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1rem;
    color: midnightblue;
    margin-right: 2rem;
}

nav a:hover {
    color: rgb(158, 156, 179);
    font-size: 1.2rem;
}

main {
    min-height: calc(100vh - 3rem);
    display: grid;
    place-items: center;
}

.container {
    text-align: center;
}

.container h2 {
    background-color: midnightblue;
    color: wheat;
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.btn-hero {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background-color: transparent;
    color: midnightblue;
    letter-spacing: 0.1rem;
    display: inline-block;
    font-weight: 700;
    border: 2px solid midnightblue;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
}

.btn-hero:hover {
    color: white;
    background-color: midnightblue;
}